body{
    background-color: #FFB0B0;
}

.carte{
    width: 228.92px;
    height: 150px;

    background: #FFFFFF;
    border-radius: 20px;
}

.carte > h1{
    position: absolute;
    width: 83.73px;
    height: 20.87px;
    left: 23.5px;
    top: 12px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.carte > p{
    position: absolute;
    width: 160.86px;
    height: 78px;
    left: 23.5px;
    top: 40px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;

    color: #000000;
}

.carte > h4{
    position: absolute;
    width: 45.78px;
    height: 13.8px;
    left: 23.5px;
    top: 120px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.carte > svg{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 80px;
    top: 135px;
}